_build/
# *.json
*.pyc
*.gz
*.feat
*.label
*.eval
*.txt
*.sexpr
*_exg.pl
*.b
*.f
*.n
data/
back_for_pub/
*.pl.log
file_order
*.log
timelog
*.pt
*.csv
*.split
debug/
pred/
stats/*.json
stats/**/*.json
stats/*.pdf
stats/**/*.pdf
dependences

prolog/Lists
tmp
./vscode
back_data/